/* ocupa tela inteira */
:host {
  display: block;
  height: 100vh;
}

/* fundo */
.register-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1f2937, #2986dd);
}

/* caixa */
.register-box {
  background: #ffffff;
  padding: 40px;
  border-radius: 14px;
  width: 380px;
  max-width: 90%;
  text-align: center;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* textos */
.register-box h2 {
  margin-bottom: 6px;
  font-size: 26px;
  color: #1f2937;
}

.register-box p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #6b7280;
}

/* inputs */
.register-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  box-sizing: border-box; /* evita desalinhamento */
}

.register-box input:focus {
  outline: none;
  border-color: #2986dd;
}

/* botão */
.register-box button {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  background-color: #2986dd;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.register-box button:hover {
  opacity: 0.95;
}

/* link login */
.login-text {
  margin-top: 16px;
  font-size: 13px;
}

.login-text span {
  color: #2986dd;
  font-weight: 600;
  cursor: pointer;
  margin-left: 4px;
}

.login-text span:hover {
  text-decoration: underline;
}